*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.3;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #14141a;
}

img,
svg {
  display: block;
  max-width: 100%;
}

svg {
  color: #a7a0a0;
  width: 70px;
  height: 70px;
}

figure {
  margin: 1rem 0;
}

.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  margin: 100px auto;
}

.App .form-element {
  font-family: inherit;
  font-size: inherit;
  margin: 1rem 0;
}

.App .form-element input,
.App .form-element select {
  padding: 5px;
  margin-left: 0.5rem;
}

.App .user-details {
  background-color: rgb(211, 202, 202);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 5px solid #636166;
  border-radius: 3px;
  padding: 3rem;
}

.App .user-details img {
  max-width: 150px;
  border-radius: 100%;
  margin: 0 auto;
  border: 3px solid #a674e0;
}
.App p {
  margin: 0;
  text-align: center;
}

.App .user-details .name {
  font-size: 1.2em;
}

.App .user-details .country {
  font-variant: small-caps;
}

.App .user-details .email {
  font-size: 0.9rem;
}

.App .user-details button {
  display: block;
  margin: auto;
  outline: transparent;
  border: none;
  padding: 0.6rem 0.8rem;
  background-color: #a674e0;
  font-weight: bold;
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

.App .user-details button:hover {
  cursor: pointer;
  background-color: #9b999e;
}
